<div fxFlexFill>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start start">
          Build Your Resume
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px">
          <mat-icon>brightness_5</mat-icon>
          <mat-slide-toggle [formControl]="themeToggle"> </mat-slide-toggle>
          <mat-icon>bedtime</mat-icon>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
