<div fxFlexFill fxLayout="column" class="p-3">
  <h1>Describe you</h1>
  <div fxLayout="row">
    <div fxFlex="30" fxFlex.gt-md="20"  fxLayout="column" fxLayoutAlign="start center">
      <app-profile-pic class="mt-2"></app-profile-pic>
    </div>
    <div fxFlex="70" fxFlex.gt-md="80" fxLayout="column">
      <div fxLayout="row">
        <mat-form-field appearance="fill" class="ps-2 w-50">
          <mat-label>First Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ps-2 w-50">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill" class="ps-2 w-50">
          <mat-label>Current Title</mat-label>
          <input matInput type="text"
                 placeholder="Sr. Software Engineer"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ps-2 w-50">
          <mat-label>Years of Experience</mat-label>
          <input matInput type="text"
                 placeholder="Over 11 Years of Experience">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill" class="ps-2 w-100">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList aria-label="Add your roles">
            <mat-chip *ngFor="let role of roles" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(role)">
              {{role.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Other Responsibilities..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-hint class="pb-1">Press <kbd>Enter</kbd> or <kbd>,</kbd> to add a tag.</mat-hint>
        </mat-form-field>

      </div>
    </div>
  </div>
  <h1>Contact</h1>
  <div fxLayout="row">
    <mat-form-field appearance="fill" class="ps-2 w-50">
      <mat-icon matPrefix>email</mat-icon>
      <mat-label>Contact Email</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ps-2 w-50">
      <mat-icon matPrefix>phone_iphone</mat-icon>
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field appearance="fill" class="ps-2 w-100">
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-label>Location</mat-label>
      <input matInput
             [(ngModel)]="locationDetails"
             placeholder="City, State/Province, Country">
      <button mat-icon-button
              (click)="locationReset()"
              color="green" matSuffix>
        <mat-icon>my_location</mat-icon></button>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
</div>
